@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#todoList::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

#todoList::-webkit-scrollbar-thumb {
  background-color: #ffffff30;
}

.center {
  @apply flex justify-center items-center;
}

.input {
  @apply bg-[#ffffff20] text-white/80 px-3 py-[6px] border border-[#ffffff30] focus:border-white/50 rounded-md focus:outline-0 focus:bg-[#ffffff40] 
  duration-300 placeholder:text-white/50 capitalize w-[320px] mx-auto;
}

.btn {
  @apply px-6 py-[10px] text-white/80 bg-[#ffffff40] rounded-md cursor-pointer 
  hover:bg-[#ffffff50] duration-300 capitalize w-[220px] mx-auto;
}
